@(posts:(List[models.Post]),tag:String)()

@main(title = "Posts tagged with "+tag) {
<div id="newPost">
    @posts.length match {
        case 1 => {
            <h3>There is one post tagged '@tag'</h3>
        }
        case 0 => {
            <h3>No post tagged '@tag'</h3>
        }
        case x => {
            <h3>There are @posts.length posts tagged '@tag'</h3>
        }
    }

    <ul>
        @posts.map { post =>
        <li><a href="@action(controllers.Application.show(post.id()))">@post.title</a> <em>@post.postedAt.format("dd/MM/yyyy")</em>
        </li>
        }
    </ul>
</div>
}